body {
  background-color: #000000;
  margin: 10px 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

a {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
  text-decoration: none;
}

a:visited {
  color: #00ffff;
  text-decoration: none;
}

h1 {
  margin: 0;
  width: fit-content;
  font-size: 20pt;
  color: #cccccc;
}

h2 {
  margin: 0;
  color: #cccccc;
  font-size: 16pt;
}

h3 {
  font-size: 12pt;
  font-weight: lighter;
  margin: 0;
  color: #cccccc;
}

h4 {
  font-size: 0.8em;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: #cccccc;
  margin-bottom: 0;
}

hr {
  border: 1px solid #7f7f7f;
  width: 100%;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  padding: 0 10px;
}

nav a:hover {
  background-color: #181818;
  border-radius: 5px;
}

p {
  color: #ffffff;
}

ul {
  color: #cccccc;
  list-style: square;
}

.contact {
  display: flex;
  width: auto;
  margin: 0;
  justify-content: center;
}

.contact a:last-child {
  border: none;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detail {
  background-color: #181818;
  padding: 20px;
  margin: 10px 0;
}

.detail-container {
  display: flex;
}

.detail-container img {
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-images {
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  margin-top: 0px;
}

.headline {
  margin: 0px;
  padding: 0 10px;
}

.name {
  font-weight: lighter;
}

.navigation {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  h1, h2, h3 {
    text-align: center;
    width: auto;
    margin: 10px 5%;
  }

  nav {
    flex-direction: column;
    gap: 5px;
  }

  nav div {
    background-color: #181818;
    margin: 10px 0;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contact {
    flex-direction: column;
  }

  .contact a {
    text-align: center;
    margin: 5px 0;
    border: none;
  }

  .content {
    width: auto;
  }

  .detail {
    width: auto;
  }

  .headline {
    text-align: center;
    margin: 10px 0;
  }
}

@media screen and (min-width: 600px) {
  nav {
    display: flex;
    width: 80%;
    margin: 0 10%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contact a {
    display: block;
    padding: 0 10px;
    border-right: 1px solid #7f7f7f;
    margin: 10px 0;
  }

  .content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .detail {
    border-radius: 5px;
    width: 100%;
  }

  .detail-container img {
    border-radius: 5px;
    width: 256px;
    height: 256px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section {
    border-radius: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .detail-container {
    flex-direction: column;
  }

  .detail-container img {
    width: 256px;
    height: auto;
    margin: 20px auto;
  }

  .detail-images {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
  .left {
    margin-right: 20px;
  }
  
  .right {
    margin-left: 20px;
  }
}