body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
a {
  color: #f9f871;
  text-decoration: none;
}
a:hover {
  color: #f9f871;
  text-decoration: underline;
}
a:visited {
  color: #e2b659;
  text-decoration: none;
}